@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  
}

h1{
  font-family: 'Marck Script', cursive;

}


h3 {
  color: yellow;
  font-weight:lighter;
  

}
.card-shadow {
  box-shadow: 5px 8px 20px rgb(5, 5, 5);
  transition: all 0.4s;
  width: 18rem;
  height: 25rem;
  min-width: 18rem;
  max-width: 25rem;
}

.card-shadow:hover {
  box-shadow: 6px 9px 30px rgb(5, 5, 5);
  transform: translateY(-2px);
  cursor: pointer;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background: transparent;
}

.jumbotron {
  background: url("food1.jpg") no-repeat center center / cover;
  margin: 0;
  color: green;
  padding: 30px 0px;
}

.jumbotron h2 {
  color: yellow;
}

.navbar-dark {
  background: transparent;
  border-color: green;
  color: green;
}

.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid green;
  transition: all 0.4s;
  font-weight: bold;
}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid yellow;
  font-size: large;
}

.search-button {
  border-radius: 50%;
  /* padding: 10px 16px; */
  transition: all 0.4s;
  background: transparent;
  border: transparent;
}

.search-button:hover {
  transform: translateY(-1px);
  background: transparent;
  border: transparent;
}

.carousel-image {
  width: 1000px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.site-footer {
  background: url("footer-img.jpg") no-repeat center center / cover;
  margin: 0;
  color: green;
  padding: 20px 0px;
}

